@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,700;1,18..144,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

:root {
  /* --color-primary: #FF6F61;
    --color-secondary: #4A90E2;
    --color-background: #F5F5F5;
    */
  --color-text: #333333;
  --font-heading: "Merriweather", serif;
  --font-body: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}
