@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,700;1,18..144,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap");

:root {
  --color-primary: #bdbdbd;
  --color-secondary: #6d6d6d;
  --color-background: #222222;

  --color-text: #fff;
  --font-heading: "Merriweather", serif;
  --font-body: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

header {
  padding: 0 1rem;
}

header .logo {
  margin: 0 auto;
  max-width: 120px;
}

header .logo img {
  width: 100%;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 100%;
  max-width: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.swiper-button-next,
.swiper-button-prev {
  --swiper-navigation-size: 32px;
  --swiper-navigation-color: var(--color-background);
}

.catalogo {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.catalogo h2 {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.catalogo .filtro-produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.catalogo .filtro-produtos button {
  background-color: var(--color-primary);
  color: var(--color-background);
  font-family: var(--font-body);
  font-weight: 600;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.catalogo .produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.catalogo .card-produto {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
  text-align: start;
  padding: 1rem;
  margin: 0 auto;
  max-width: 300px;
  color: var(--color-text);
  font-size: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.catalogo .card-produto:focus,
.catalogo .card-produto:hover {
  box-shadow: 0 0 10px var(--color-primary);
  transform: scale(1.2);
}

.catalogo .card-produto img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  color: var(--color-text);
  font-family: var(--font-body);
}
